* {
    margin: 0;
    padding: 0;
}
body {
    background: white;
    color: black;
    font-family: 'Reboro', sans-serif;

}

.header p {
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    border: 10px solid black;
    margin: auto;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

}

.contenedor > div {
    display: block;
    padding: 20px;
    color: rgb(0, 0, 0);
    background: #2f89fc;
    box-shadow: 2px 2px 10px black;
    
}